<article>
    
    <h2 class="article-title"><%= @article.title %></h2>
    <%= link_to edit_article_path(@article) do %>
        <i class="fa-solid fa-pencil modify"></i>
    <% end %>
    <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
        <i class="fa-solid fa-trash delete"></i>
    <% end %>
    <hr>
    <p><%= @article.content %></p>
    <div class="links mt-3">
        <%= link_to "Back", articles_path %>
    </div>
</article>